* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border: none;
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #e0e0e0;
}

button.zero {
    grid-column: span 2;
}

button:nth-child(4n) {
    background-color: #ff9500;
    color: white;
}

button:nth-child(4n):hover {
    background-color: #e08500;
}
